// * highlighted background color override * //

@if $highlighted_background_color_override !="" {

  button.btn.no-text.btn-icon.composer_highlighted_button {
    color: $highlighted_background_color_override;
  }

  .cooked,
  .d-editor-preview {
    ins {
      background-color: $highlighted_background_color_override;
      border-radius: 3px;
      outline: 2px solid $highlighted_background_color_override;
    }
  }
}

@else {

  button.btn.no-text.btn-icon.composer_highlighted_button {
    color: var(--highlight-medium) !important;
  }
 
  .cooked,
  .d-editor-preview {
    ins {
      background-color: var(--highlight-medium);
      border-radius: 3px;
      outline: 2px solid var(--highlight-medium);
    }
  }
}

// * highlighted text color override * //

@if $highlighted_text_color_override !="" {

  .cooked,
  .d-editor-preview {
    ins {
      color: $highlighted_text_color_override;
    }
  }
}

@else {

  .cooked,
  .d-editor-preview {
    ins {
      color: var(--color);
    }
  }
}
